<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_TEMP" value="/var/www/html/log" />
    <property resource="application.properties" />
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
        <!-- Spring Framework -->
        <!--<logger name="org.springframework" level="info"/>-->

        <!-- JDBC -->
        <!--<logger name="log4jdbc.debug" level="info"/>-->

        <logger name="org.springframework" level="INFO"/>

        <logger name="jdbc.sqlonly" level="INFO"/>
        <logger name="jdbc.sqltiming" level="ERROR"/>
        <logger name="jdbc.audit" level="ERROR"/>
        <logger name="jdbc.resultset" level="ERROR"/>
        <logger name="jdbc.resultsettable" level="ERROR"/>
        <logger name="jdbc.connection" level="ERROR"/>

        <root level="info">
            <appender-ref ref="CONSOLE"/>
        </root>
</configuration>
